{% extends 'base/base.html' %}

{% block title %} City List {% endblock %}

{% block heading %}<h1 class="masthead-heading text-uppercase mb-0">City List</h1>{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-md-3">
            <div class="container" id="filter_container">
                {% include 'city_list/filter_categories.html' %}
            </div>
        </div>
        <div class="col-md-8">
            rest of the body goes here
        </div>
    </div>
{% endblock %}

